<ul id="dropdown_profile" class="dropdown-content">
    <li><a href="/settings">Profiel</a></li>
    <li class="divider"></li>
    <li><a href="#!">Nieuwe shout</a></li>
    <li><a href="#!">Nieuwe groep</a></li>

    <li class="divider"></li>
    <li><a href="#!">Log out</a></li>
</ul>

<ul id="dropdown_logs" class="dropdown-content">
    <li><a href="#!">Log 1</a></li>
    <li><a href="#!">Log 2</a></li>
    <li><a href="#!">Log 3</a></li>
    <li><a href="#!">Log 4</a></li>
    <li class="divider"></li>
    <li><a href="#!">Alle logs weergeven</a></li>
</ul>

<ul id="dropdown_groups" class="dropdown-content">
    <li><a href="#!">VTK</a></li>
    <li><a href="#!" class="collection-item"> VRG <span class="new badge">4</span></a></li>
    <li><a href="#!">Home Fabiola</a></li>
    <li class="divider"></li>
    <li><a href="#!">Alle groepen</a></li>
</ul>


<nav class="teal" role="navigation">
    <div class="nav-wrapper container">
        <a href="/" class="brand-logo">
          {{> logo }}
        </a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="/search">
                <i class="material-icons">search</i>
                </a>
            </li>
            <li>
                <a href="/start" class="dropdown-button" data-activates="dropdown_groups">
                <i class="material-icons">view_module</i>
                </a>
            </li>
            <li>
                <a href="/start">
                <i class="material-icons">chat_bubble_outline</i>
                </a>
            </li>
            <li>
                <a href="/logs" class="dropdown-button" data-activates="dropdown_logs">
                <i class="material-icons">schedule</i>
                </a>
            </li>
            <!-- Dropdown Trigger -->
            <li><a href="#!" class="dropdown-button" data-activates="dropdown_profile"><i class="material-icons right">perm_identity</i> Mike Brants </a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li class="row"><form><input type="text" placeholder="search" class="col s12"></form></li>
            <li><a href="/">Start</a></li>
            <li><a href="/login">Log in</a></li>
            <li><a href="/register">Registreren</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

    </div>
</nav>

