<ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">Profiel</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">Log out</a></li>
</ul>


<nav class="teal" role="navigation">
    <div class="nav-wrapper container">
        <a href="/" class="brand-logo">
          {{> logo }}
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/search"><i class="material-icons">search</i></a></li>
            <li><a href="/start"><i class="material-icons">view_module</i></a></li>
            <li><a href="/refresh"><i class="material-icons">refresh</i></a></li>
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons right">more_vert</i> Drop </a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li class="row"><form><input type="text" placeholder="search" class="col s12"></form></li>
            <li><a href="/">Start</a></li>
            <li><a href="/login">Log in</a></li>
            <li><a href="/register">Registreren</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

    </div>
</nav>

