<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shout - Layout</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,700">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
    {{> header}}

    {{{ body }}}

    {{> footer }}
</body>
</html>
