<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shout - Layout</title>
    <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
    {{> header}}

    {{{ body }}}
</body>
</html>
