.navbar {
    background-color: color("yellow", 500);
    border: none;
    @include card(2);

    &--inverse {
        @extend .navbar-inverse;
    }

    &--fixed-top {
        @extend .navbar-fixed-top;
    }

    &__brand {
        @extend .navbar-brand;
        font-weight: 900;
        color: color("blue-grey", 700) !important;
        font-size: 2em !important;
    }

    li {
        > a {
            color: white !important;
            background-color: color("pink", 400);
            margin: 7px 0px 7px 10px;
            padding: 10px 20px;
        }

        &:hover, &:active, &:focus {
            a {
                background-color: color("pink", 600) !important;
            }
        }

        &.active > a {
            background-color: color("pink", 600) !important;
        }
    }
}
