.brand-logo {
    width: 60px;
}

.dropdown-content{
   top: 70px !important;
   width: 200px !important;
}

.badge.overlay{
    display:block !important;
    position: relative;
    background: none !important;
    left: 0;
    top: 0;
    padding: 0px !important;
    margin-top: -50px !important;   
    height: 20px !important;
    width: 20px !important;
    background: red;
}