<div class="index">
    <h3 class="index__title">Shout - Layout!</h3>

    <img class="img-400 index__logo" src="https://avatarize.me/a/malfait.robin@gmail.com?size=400" alt="malfait.robin@gmail.com"/>
</div>
