<div class="container">
    <div class="section">
        <h1 class="teal-text">Log in</h1>

        <form>
                    
            <input type="email" id="email" name="email" placeholder="E-mail">

            <input type="password" id="password" name="password" placeholder="Wachtwoord">

            
            <p class="right-align">
              <input type="checkbox" id="remember" />
              <label for="remember">Aangemeld blijven</label>
            </p>
            
            <br>
            
            <div class="right-align">
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    <i class="material-icons right">lock</i>Log in           
                </button>
            </div>
            
            <br>
            
        </form>
    </div>
</div>

