<div class="container">
    <div class="section">
        <h1 class="teal-text">Registreren</h1>

        <form>
            
            <input type="email" id="email" name="email" placeholder="E-mail">

            <input type="password" id="password" name="password" placeholder="Wachtwoord">

            <input type="password" id="password_repeat" name="password_repeat" placeholder="Herhaal wachtwoord">
            
            <div class="right-align">
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    <i class="material-icons right">send</i>Ga verder           
                </button>
            </div>
            
        </form>
    </div>
</div>

