<div class="register">
    <div class="spage__container spage__box">
        <h1>Registreren</h1>
        <form class="col-md-offset-1">
          <div class="form-group">
            <label for="exampleInputEmail1">E-mailadres</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="E-mail">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Wachtwoord</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Wachtwoord">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword2">Herhaal wachtwoord</label>
            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Herhaal wachtwoord">
          </div>
          <button type="submit" class="btn btn-default pull-right">Ga verder</button>
        </form>
    </div>
</div>
