<div class="register">

    <div class="register__card">
        <h1>Registreren</h1>

        <form>
            <div class="form-group">
                <label for="email">E-mailadres</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="E-mail">
            </div>
            <div class="form-group">
                <label for="password">Wachtwoord</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Wachtwoord">
            </div>
            <div class="form-group">
                <label for="password_repeat">Herhaal wachtwoord</label>
                <input type="password" class="form-control" id="password_repeat" name="password_repeat" placeholder="Herhaal wachtwoord">
            </div>
            <button type="submit" class="btn btn--blue btn--card btn--card--depth-1 pull-right">Ga Verder <span class="fa fa-chevron-right"></span></button>
        </form>
    </div>

</div>
