<div class="container">
    <div class="section">


        <div class="shout hoverable small">
            <div class="shout-header">
                <a href="#"> <img src="https://avatarize.me/a/mike.brants@gmail.com" alt="" class="avatar"> </a>
                <span class="shout-title"> Card Title </span>
            </div>
            <div class="shout-content">
                <p class="black-text">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="shout-footer right-align">
                <a href="#"><i class="material-icons">grade</i></a>
            </div>
            <div class="shout-progress">
                <div class="progress">
                    <div class="determinate" style="width: 70%"></div>
                </div>
            </div>
        </div>
        
        <div class="shout hoverable small">
            <div class="shout-header">
                <a href="#"> <img src="https://avatarize.me/a/mike.brants@gmail.com" alt="" class="avatar"> </a>
                <span class="shout-title"> Card Title </span>
            </div>
            <div class="shout-content">
                <p class="black-text">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="shout-footer right-align">
                <a href="#"><i class="material-icons">grade</i></a>
            </div>
            <div class="shout-progress">
                <div class="progress">
                    <div class="determinate" style="width: 70%"></div>
                </div>
            </div>
        </div>
        
        <div class="shout hoverable small">
            <div class="shout-header">
                <a href="#"> <img src="https://avatarize.me/a/mike.brants@gmail.com" alt="" class="avatar"> </a>
                <span class="shout-title"> Card Title </span>
            </div>
            <div class="shout-content">
                <p class="black-text">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="shout-footer right-align">
                <a href="#"><i class="material-icons">grade</i></a>
            </div>
            <div class="shout-progress">
                <div class="progress">
                    <div class="determinate" style="width: 70%"></div>
                </div>
            </div>
        </div>


    </div>
</div>

