<div class="container">
    <div class="section">
        
        
          <div class="shout hoverable small">
              <div class="shout-header">
                  <a href="#"> <img src="http://www.scorefoundation.org/wp-content/uploads/2014/10/Avatar-512.png" alt="" class="avatar"> </a>
                  <span class="shout-title"> Card Title </span>
              </div>
              <div class="shout-content">
                <p class="black-text">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
              </div>
              <div class="shout-footer right-align">
                <a href="#"><i class="material-icons">grade</i></a>
              </div>
              <div class="shout-progress">
                  <div class="determinate" style="width: 70%"> sjhsksjgh </div>
              </div>
            </div>
        
        
    </div>
</div>



<div class="container">
    <div class="section">
        
          <div class="card hoverable small">
              <div class="card-content">
                <span class="card-title black-text">Card Title</span>
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
              </div>
              <div class="card-action right-align">
                <a href="#"><i class="material-icons">stars</i></a>
              </div>
            </div>
    </div>
</div>



<div class="container">
    <div class="section">
          <div class="card hoverable small">
              <div class="card-content">
                <span class="card-title black-text">Card Title</span>
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
              </div>
              <div class="card-action right-align">
                <a href="#"><i class="material-icons">stars</i></a>
              </div>
            </div>
    </div>
</div>
