.index {
    .banner {
        background-color: color("light-green", 400) !important;

        padding: 30px 0;

        &__container {
            @extend .container;

            color: $base-color;

            form {
                @extend .col-md-offset-8;
                @extend .col-md-4;

                @include card(1);

                padding: 10px 20px;
            }
        }

        &__login {

        }

        &__register {

        }

        h3 {
            color: white;
            text-transform: uppercase;
        }
    }

    section {
        min-height: 200px;

        .content {
            @extend .container;
            padding: 10px;
        }

        &:nth-child(even) {
            background-color: color("light-green", 50);
        }

        &:nth-child(odd) {
            background-color: color("light-green", 100);
        }
    }
}
