.banner {
    background-color: #EEEEEE;

    padding: 10px 0px 40px 0px;

    &__container {
        @extend .container;
        color: $base-color;
    }

    &__login {

    }

    &__register {
        visibility: hidden;
        display: none;
    }

    &__title {
        padding-bottom: 10px;
    }
}
