.shout{
    @extend .card;
    
    
    &-header{
        
        @extend .row;
        @extend .valign-wrapper;
        
        padding: 20px;
        
        .avatar{
            @extend .responsive-img;
            @extend .circle;
            @extend .col;
            @extend .s2;
            @extend .valign;
            
            max-width: 60px !important;
            min-width: 60px !important;
            
        }
        
        .shout-title{
            @extend .card-title;
            @extend .valign;
            @extend .black-text;
            @extend .col;
            
            padding-left: 10px;
        }
        
    }
    
    &-content{
        @extend .card-content;
    }
    
    &-footer{
       padding: 20px;
        
      a {
          color: #ffab40;
          margin-right: 20px;
          transition: color 0.3s ease;
          text-transform: uppercase; 
      }
        
      a:hover {
          color: #ffd8a6; 
      }
        
    }
    
    &-progress{
        position: absolute;
        bottom: 0;
        width: 100%;

        height: 11px;
    }
}
