.spage {

    &__container {
        @extend .container;

        margin-top: 30px;
    }

    &__box {
        background-color: white;
        padding: 20px 20px 40px 20px;

        @include card(1);

        h1 {
            margin-bottom: 20px;
            text-transform: uppercase;
            color: color("blue", 500);
        }

        label {
            text-transform: uppercase;
        }

        input {
            border-radius: 0px !important;
            border: 1px solid color("grey", 500);

            &:hover, &:active, &:focus {
                outline: none;
                box-shadow: none;

                border: 1px solid color("blue", 600);
            }
        }

    }
}
